@using AnacondaMVC.Models
@model UserStatistic

@{
    ViewBag.Title = "Index";
}

<h2>Player Statistics</h2>

<div class="row">
    <div class="col-md-4 col-lg-3">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2">
                        Statistics
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Experience</td>
                    <td>@Model.Experience</td>
                </tr>
                <tr>
                    <td>Level</td>
                    <td>@Model.ExperienceLevel</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>