@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Play Casino Games</h1>
    <p class="lead">Play Casino Games online in the greatest Casino on the internet</p>
    <p><a href="/Games" class="btn btn-primary btn-lg">Play games &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Games</h2>
        <p>
            Play games like roulette, wheel of fortune and slot machine
        </p>
        <p><a class="btn btn-default" href="/Games">Play games &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Start with 100 free casino credits</h2>
        <p>Register now to receive 100 casino credits <strong>free of charge</strong></p>
        <p><a class="btn btn-default" href="/Account/Register">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gain XP</h2>
        <p>Gain XP and compare yourself with other people in the leaderboard</p>
        <p><a class="btn btn-default" href="/PlayerStatistics/Leaderboard">Leaderboard &raquo;</a></p>
    </div>
</div>