
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <!-- <img src="..." alt="..."> -->
            <div class="caption">
                <h3>Roulette</h3>
                <p>Play a game of roulette</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/en/0/00/Wheel_of_fortune_phil.jpg" alt="Wheel of Fortune">
            <div class="caption">
                <h3>Wheel of Fortune</h3>
                <p>Spin the wheel of fortune and win</p>
                <p>@Html.ActionLink("Play", "WheelOfFortune", null, new { @class = "btn btn-primary", @role= "button" })</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://www.letsplayslots.com/wp-content/uploads/2016/04/Slot-Casino-Slot-Machines.png" alt="Slot machine">
            <div class="caption">
                <h3>Slot Machine - Simple</h3>
                <p>A single spin slot machine, try your luck</p>
                <p>@Html.ActionLink("Play", "SlotMachineSimple", null, new { @class = "btn btn-primary", @role = "button" })</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <!-- <img src="..." alt="..."> -->
            <div class="caption">
                <h3>Slot Machine - Advanced</h3>
                <p>Spin the slot machine three times and tactically make sure you win</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
            </div>
        </div>
    </div>
</div>