@{
    ViewBag.Title = "WheelOfFortune";
}

<h2>Wheel of Fortune</h2>

@using (Html.BeginForm())
{
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Bet</span>
        @Html.TextBox("Bet", null, new { @type = "number", @min = 1, @max = 100000, @class = "form-control", @placeholder = "100 credits" })
        <input type="submit" value="Spin the wheel" class="btn btn-primary" style="margin-left:5px;">
    </div>
}

@{
    if (IsPost)
    {
        <hr />
        if (Model.CreditsGained > 0)
        {
            <div class="panel panel-success">
                <div class="panel-heading">
                    You won!
                </div>
                <div class="panel-body">
                    @Model.CreditsGained Credits
                </div>
            </div>
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                <strong>Oh snap!</strong>
                You didn't win. Better luck next time...
            </div>
        }
    }
}