body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.hr-strong {

    border-top: 2px solid #000000;
    margin-top: 0px;
    margin-bottom: 5px;

}

.bs-example-modal .modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block;
}

.modal-header {
    background: #101010;
    color: white;
}

.close {
    color: white;
    text-shadow: 0 1px 0 #ffffff;
}

.carousel-inner div.item img {
    width: 100%;
}

.carousel-inner div.item div {
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 0.05vw;
    -webkit-text-stroke-color: black;
}

.carousel-inner div.item h3 {
    font-size: 3vw;
    -webkit-text-stroke-width: 0.1vw;
}

.carousel-inner div.item p {
    font-size: 1.5vw;
}