
@model AnacondaMVC.Controllers.BonusController.BonusViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Bonus</h2>

    <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="https://upload.wikimedia.org/wikipedia/en/0/00/Wheel_of_fortune_phil.jpg" alt="Wheel of Fortune">
                    <div class="caption">
                        <h3>Daily Fortune</h3>
                        <p>Spin the wheel of fortune and win</p>
                        
                        @if (Model.Daily)
                        {
                            <p>@Html.ActionLink("Play", "DailyFortune", null, new {@class = "btn btn-primary", @role = "button"})</p>
                        }
                        else
                        {
                            if (Model.DailyCredits > 0)
                            {
                                <div class="alert alert-success" role="alert">
                                    <p>You won @Model.DailyCredits</p>
                                </div>
                            }
                                <div class="alert alert-danger" role="alert">
                                    <p>You already played this bonus today!</p>
                                </div>
                        }

                        

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="https://upload.wikimedia.org/wikipedia/en/0/00/Wheel_of_fortune_phil.jpg" alt="Wheel of Fortune">
                    <div class="caption">
                        <h3>Hourly Fortune</h3>
                        <p>Spin the wheel of fortune and win</p>
                        
                        @if (Model.Hourly)
                        {
                            <p>@Html.ActionLink("Play", "HourlyFortune", null, new {@class = "btn btn-primary", @role = "button"})</p>
                        }
                        else
                        {
                            if (Model.HourlyCredits > 0)
                            {
                                <div class="alert alert-success alert-dismissible" role="alert">
                                    <p>You won @Model.HourlyCredits</p>
                                </div>
                            }
                            <div class="alert alert-danger" role="alert">
                                <p>You already played this bonus this hour!</p>
                            </div>
                        }

                        

                        
                    </div>
                </div>
            </div>

    </div>


