
@model AnacondaMVC.Controllers.BonusController.BonusViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Bonus</h2>

@if (Model.Daily || Model.Hourly)
{
    <div class="row">
        @if (Model.Daily)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="https://upload.wikimedia.org/wikipedia/en/0/00/Wheel_of_fortune_phil.jpg" alt="Wheel of Fortune">
                    <div class="caption">
                        <h3>Daily Fortune</h3>
                        <p>Spin the wheel of fortune and win</p>
                        
                        <p>@Html.ActionLink("Play", "DailyFortune", null, new {@class = "btn btn-primary", @role = "button"})</p>
                    </div>
                </div>
            </div>
        }
        @if (Model.Hourly)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="https://upload.wikimedia.org/wikipedia/en/0/00/Wheel_of_fortune_phil.jpg" alt="Wheel of Fortune">
                    <div class="caption">
                        <h3>Hourly Fortune</h3>
                        <p>Spin the wheel of fortune and win</p>
                        <p>@Html.ActionLink("Play", "HourlyFortune", null, new {@class = "btn btn-primary", @role = "button"})</p>
                    </div>
                </div>
            </div>
        }

    </div>
}
else
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Oh Snap!</strong>
        <p>There are no bonuses at the moment!</p>
    </div>
}


