
@{
    ViewBag.Title = "PartialWallet";
}

<li>
    <a href="@Url.Action("Index", "Wallet")">@ViewBag.TotalCredits <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span></a>
</li>